<div class="movie-item">
  <div class="movie-banner">
    <div class="movie-backdrop">
      <img *ngIf="movie.backdrop_path?.small" [src]="movie.backdrop_path.small"/>
    </div>
    <a [routerLink]="['/movie', movie.id]">
      <img class="movie-poster" [src]="movie.poster_path.smaller || noPosterImage"/>
    </a>
    <a [routerLink]="['/movie', movie.id]" class="rating hint--top" [attr.aria-label]="movie.vote_count + ' Votes'">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    <span class="rate-value" aria-label="Rating">{{movie.vote_average}}</span>
    </a>
  </div>
  <div class="movie-meta">
    <a [routerLink]="['/movie', movie.id]" class="title">
    <!--<h4 class={ "title-text " + (titleLength> 33 ? "hint--bottom" : "")} aria-label={movie.title} > {truncatedTitle}
    </h4>-->
    <h4 class="title-text" [attr.aria-label]="movie.title"> {{movie.original_title}}
    </h4>
    </a>
    <div class="release-date text-muted">
      <!--TODO Date string-->
      <span class="glyphicon glyphicon-calendar"></span> {{movie.release_date}}
    </div>
    <hr/>
    <p class="overview">{{movie.overview}}</p>
    <div class="card-actions">
      <pstr-action-button [type]="action" [actionHint]="actionHint"></pstr-action-button>
      <a class="more-info" [routerLink]="['/movie', movie.id]">
        <span>Explore</span><em>❯</em>
      </a>
    </div>
  </div>
</div>