<footer class="poster-footer">
  <div class="container">
    <p class="pull-left">
      Built in Angular 2 by <a href="https://github.com/sirajc" target="_blank">@sirajc</a><br>
      Based on React app by <a href="https://doublslash.com" target="_blank">@kushalpandya</a></p>
    <p class="pull-right">
      Source on Github for <a href="https://github.com/sirajc/ng-poster" target="_blank">Angular 2</a>
      &amp; <a href="https://github.com/kushalpandya/poster" target="_blank">React</a></p>
  </div>
</footer>