@mixin clearfix {
    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
}

.movie-details-section {

    width: 100%;

    .row {
        padding: 20px 0 20px 0;
        background-color: #F7F7F7;
    }

    .sidebar {

        .movie-poster {
            position: relative;

            img {
                display: block;
                margin: auto;
            }

            .glyphicon {
                visibility: hidden;
                position: absolute;
                width: 50%;
                height: 30%;
                top: 0; left: 0; bottom: 0; right: 0;
                overflow: hidden;
                margin: auto;
                text-align: center;
                font-size: 6em;
                color: rgba(38, 50, 56, 0.52);
            }

            &:hover {
                cursor: pointer;

                .glyphicon {
                    visibility: visible;
                }
            }
        }

        .stats-table {

            .rating {
                font-size: 13px;
            }
        }
    }

    .contents {

        .movie-title {
            @include clearfix;

            .title-text,
            .release-year {
                display: inline-block;
                float: left;
                margin: 0;
            }

            .release-year {
                margin: 18px 0 0 5px;
            }
        }

        hr {
            margin: 20px 0 20px 0;
        }

        .movie-synopsis {

            h6 {
                margin-top: 8px;
                margin-bottom: 8px;
                font-weight: bold;
            }

            .movie-genres {

                .label {
                    font-size: 14px;
                    margin-right: 5px;
                }
            }

            .crew-table,
            .cast-items {
                width: 80%;
                margin-bottom: 0;

                a {
                    color: darken(#77b3d4, 10%);
                }
            }

            .crew-table {

                th, td {
                    padding: 0;
                    border: none;
                }

                th {
                    width: 20%;
                }

                td {
                    width: 80%;
                }
            }

            .cast-items {

                .cast-member:nth-child(n+1) {
                    margin-bottom: 15px;
                }
            }

            .cast-person {
                @include clearfix;

                .person-photo,
                .person-title {
                    display: inline-block;
                    float: left;
                }

                .person-title {
                    margin-top: 10px;
                    margin-left: 30px;
                }
            }
        }
    }
}
