/**
 * Poster v0.1.0
 * A React webapp to list upcoming movies and maintain a watchlist, powered by TMDb
 *
 * Author: Kushal Pandya <kushalspandya@gmail.com> (https://doublslash.com)
 * Date: 03 June, 2016
 * License: MIT
 *
 * Main Poster Stylesheet
 */

@mixin clearfix {
    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
}

 html {
    position: relative;
 	min-height: 100%;
 }

 body {
     margin: 0 0 120px;
 }

.poster-header {
    height: 64px;

    .navbar-default {
        background-color: #77b3d4;

        .navbar-brand {
            color: #FFFFFF;
            font-weight: bold;

            &:hover {
                color: darken(#FFFFFF, 10%);
            }
        }

        .navbar-collapse {

            li > a {
                &,
                &:focus {
                    color: #FFFFFF;
                }

                &.active {
                    background: darken(#77B3D4, 20%);
                }
            }
        }
    }
}

.poster-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    padding: 4rem 0;
    margin-top: 100px;
    color: #FFFFFF;
    background-color: #4f5d73;
    box-shadow: 0 2px 6px darken(#4F5D73, 20%) inset;
}

.poster-section {

    &:after {
        content: "";
        display: block;
        height: 120px;
    }

    .jumbotron {
        margin-top: 10px;

        h2, p {
            text-align: center;
        }
    }

}

.modal-backdrop {

    background-color: #fff;

    .in {
        opacity: 0.75;
    }
}

.poster-dialog {

    .modal-content {
        background-color: initial;
        box-shadow: initial;
    }
}

@media (max-width:768px) {

    .poster-footer {

        .container > p {
            float: none !important;
            text-align: center;
        }
    }
}
