@mixin clearfix {
    &:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
}

.movies-list {
    margin: auto;
    margin-top: 30px;
    width: 80%;

    @include clearfix;
}

.movies-list-empty {
    text-align: center;
}