<div id="poster-app">
  <div>
    <pstr-header></pstr-header>
    <section class="container poster-section">
      <div class="jumbotron ">
        <h2>Welcome to Poster!</h2>
        <p>
          A minimalist Movies catalog, powered by
          <a href="https://www.themoviedb.org" target="_blank">TMDb.</a>
        </p>
        <div class="input-group"><input type="text" placeholder="Search for a movie..." class="form-control" value=""><span class="input-group-btn"><button class="btn btn-default glyphicon glyphicon-search" type="button"></button></span></div>
      </div>
    </section>
    <pstr-footer></pstr-footer>
  </div>
</div>
